[**@mindscript/openspec-types**](../README.md)

***

[@mindscript/openspec-types](../README.md) / VerificationReport

# Interface: VerificationReport

Defined in: packages/mindscript-runtime/dist/index.d.ts:247

## Properties

### at

> **at**: `string`

Defined in: packages/mindscript-runtime/dist/index.d.ts:252

***

### contextId?

> `optional` **contextId**: `string`

Defined in: packages/mindscript-runtime/dist/index.d.ts:248

***

### meta?

> `optional` **meta**: [`JsonObject`](JsonObject.md)

Defined in: packages/mindscript-runtime/dist/index.d.ts:253

***

### overall

> **overall**: `boolean`

Defined in: packages/mindscript-runtime/dist/index.d.ts:250

***

### results

> **results**: [`VerifierResult`](VerifierResult.md)[]

Defined in: packages/mindscript-runtime/dist/index.d.ts:251

***

### turnId?

> `optional` **turnId**: `string`

Defined in: packages/mindscript-runtime/dist/index.d.ts:249
